*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

p{
    margin: 2% auto;
    font-size: 25px;
}
.img{
    margin: 5%;
    padding: 0 auto;
    width: 60%;
}