*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}
:root{
    --bg-color: #a18c00;
}

/* CODIGO DO HEADER */

#header{
    min-height: 85vh;
    padding: 25px 7%;
    background:
        linear-gradient(to bottom, rgba(0, 20, 45, 0.2), rgba(0, 10, 25, 0.9)),
        url("../assets/maravilhas.jpg") center / cover no-repeat;

    justify-items: center;
    text-align: center;
    font-weight: bold;
    font-style: italic;
}

#header h1{
    color: white;
    font-family: Georgia, serif;
    font-size: clamp(45px, 7vw, 110px);
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 8px;
    padding: 0;
}
#header h1 strong {
    display: block;
    color: #d8a934;
    font-weight: normal;
}

#header h2{
    margin-top: 25px;
    padding: 0;
    color: white;
    font-size: clamp(14px, 1.3vw, 22px);
    letter-spacing: 3px;
    text-transform: uppercase;
}


/* Lista de navegacao */
.cabecalho__lista {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

/* Links do menu */
.cabecalho__link{
    color: #fdfdfd;
    padding: 3rem;
    font-weight: bold;
    text-decoration: none;
}

.hero__conteudo {
    min-height: 75vh;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 100px; 
    text-align: center;
    position: relative;
    top: 80px;
}

/* Logo principal do projeto */
.cabecalho__logo-item{
    display: flex;
    gap: 15px;
    color: #fff;
    padding: 15px;
    text-align: left;
    font-size: 22px;
    text-transform: uppercase;
}


.cabecalho__logo-item img {
    width: 50%;
    height: 10vh;
}




/* CODIGO DA TABELA */
table{
    text-align: center;
    margin: 30px auto;
    border-collapse: collapse;
    width: 70%;
    color: #333;
}

thead th{
    height: 10vh;
    background-color: #b9a300;
    color: #fff;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
}

tbody tr{
    height: 60px;
}

tfoot td{
    background-color: #b9a300;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    font-weight: 750;
}

tbody tr:nth-child(even){
    background-color: #e2e2e2;
}
